
@{
    ViewBag.Title = "ActivateUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container main-ctn">
    <h1 class="title">Account Activated</h1>

        <div class="admin-form">
            <div class="admin-ctn">
                <div class="row">
                     Your  account has been activated ,please login to continue.
                </div>
            </div> <!--end admin-form-->

        </div>
    
</div>

