
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>

            <th>RoleName</th>
            <th>User Count</th>
            <th>User Actions</th>
            @*<th>Delete</th>*@

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>RoleName</th>
            <th>User Count</th>
            <th>User Actions</th>
            @*<th>Delete</th>*@
        </tr>
    </tfoot>
    <tbody>
        @if (ViewBag.rolecountdata != null)
        {
            foreach (var roles in ViewBag.rolecountdata)
            {
                <tr>
                    <td>@roles.RoleName</td>

                    <td>@roles.UserCount</td>
                    <td>
                        <a class="btn Edit" onclick="showpopupedit('@roles.RoleName')" href="javascript:void(0)"><i class="fa fa-pencil-square-o"></i></a>
                        @if (roles.UserCount == 0)
                        {
                            <a href="/ManageRoles/Delete_Role?RoleName=@roles.RoleName" class="btn Delete" onclick='return confirm("Are you sure you wish to delete this Role?");'><i class="fa fa-trash-o"></i></a>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">No Roles found</td>
            </tr>
        }
    </tbody>
</table>